version: "3.9"

services:
  api:
    build: .
    container_name: security_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis
    environment:
      - TZ=America/Sao_Paulo
      - REDIS_HOST=redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
